@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'ThaleahFat';
    src: url('../fonts/ThaleahFat.ttf') format('truetype');
  }